In [2]:
from data_loader import DATA_RAW

In [3]:
dat = DATA_RAW(n_question=1223,
                   seqlen=2000, separate_char=',')

In [4]:
data_path = './data/assist2009_raw/skill_builder_data_corrected.csv'

In [5]:
 all_data = dat.get_processed_data(data_path)

Pickle file not found, creating one...
/Users/maywzh/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3427: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
337678it [03:30, 1605.48it/s]
Max step: 1295
Num of skills: 123
Num of students: 4163
/Users/maywzh/Workspace/ji_coursenotes/2021spring/CCNUMaster/exp/chapter3/gkvmn/data_loader.py:353: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return np.array(students_list), skills, max_steps

In [7]:
students,  skills, max_steps= dat.load_raw_data(data_path)

Load data from pickle file...
Max step: 1295
Num of skills: 123
Num of students: 4163

In [9]:
pickle_data = {}
students = {}
students_list = []
skills = []
users_id = []
max_steps = -1
min_steps = float('inf')
features = ['assignment_id', 'assistment_id', 'problem_id', 'user_id', 'original', 'correct', 'attempt_count',
            'ms_first_response',
            'skill_id', 'hint_count', 'hint_total', 'first_action', 'bottom_hint']

selected_features = ['skill_id', 'correct',
                        'user_id', 'ms_first_response', 'attempt_count', 'hint_count']

In [10]:
import pandas as pd
file_name = './data/assist2009_raw/skill_builder_data_corrected.csv'
all_data = pd.read_csv(file_name, encoding='ISO-8859-1')
filtered_data = all_data[features]
filtered_data = filtered_data[filtered_data['ms_first_response'] > 0]
filtered_data = filtered_data.fillna(-1)

/Users/maywzh/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
df1 = all_data[all_data['ms_first_response'] > 0].reindex()
df1

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0,0.0,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401751,38214014,291495,96299,57830,108976,0,1,1,38234,tutor,...,0,2,38234,55692,200260.0,NaN,0,NaN,54,NaN
401752,38214016,291495,96299,57843,109015,0,1,1,6500,tutor,...,0,0,6500,55693,200299.0,NaN,0,NaN,55,NaN
401753,38214195,291503,96299,34577,54060,0,1,1,18344,tutor,...,0,3,18344,30677,NaN,0.8,0,NaN,56,NaN
401754,38214196,291503,96299,34577,54061,0,1,1,12922,tutor,...,0,2,12922,30677,NaN,-6,0,NaN,57,NaN
401755,38214198,291503,96299,34577,54062,0,0,9,36047,tutor,...,1,3,163422,30677,NaN,-6.8,0,0.0,58,NaN

In [12]:
dfg1 = df1.groupby(["user_id","problem_id","assignment_id"])

In [18]:
dfg1.describe()

,order_id,assistment_id,original,correct,attempt_count,ms_first_response,sequence_id,student_class_id,position,base_sequence_id,...,school_id,hint_count,hint_total,overlap_time,template_id,answer_id,first_action,bottom_hint,opportunity,opportunity_original
0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,NaN,1.5,NaN,1.5,1.5
1,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,NaN,1.5,NaN,1.5,1.5
2,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,NaN,1.5,NaN,1.0,1.0
3,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,NaN,1.5,NaN,1.0,1.0
4,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,NaN,1.5,1.5,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401751,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN
401752,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN
401753,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
401754,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
401755,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN

In [13]:
a,b = dfg1.groups[(14, 57647, 263600)][0],dfg1.groups[(14, 57647, 263600)][1]
a,b,df1.iloc[a],df1.iloc[b]

(3966,
 112118,
 order_id                      21617749
 assignment_id                   263600
 user_id                             14
 assistment_id                    36822
 problem_id                       57647
 original                             1
 correct                              0
 attempt_count                        0
 ms_first_response                82572
 tutor_mode                       tutor
 answer_type                    algebra
 sequence_id                       5916
 student_class_id                 12495
 position                             2
 type                    MasterySection
 base_sequence_id                  5916
 skill_id                           2.0
 skill_name                Circle Graph
 teacher_id                       42972
 school_id                            1
 hint_count                           0
 hint_total                           0
 overlap_time                     82572
 template_id                      30397
 answer_id                          NaN
 answer_text                        NaN
 first_action                         2
 bottom_hint                        NaN
 opportunity                         10
 opportunity_original              10.0
 Name: 3966, dtype: object,
 order_id                            32833316
 assignment_id                         277456
 user_id                                71740
 assistment_id                          36832
 problem_id                             57677
 original                                   1
 correct                                    0
 attempt_count                              1
 ms_first_response                      15625
 tutor_mode                             tutor
 answer_type                          algebra
 sequence_id                             5898
 student_class_id                       11816
 position                                 249
 type                          MasterySection
 base_sequence_id                        5898
 skill_id                                48.0
 skill_name              Equivalent Fractions
 teacher_id                             22763
 school_id                                 73
 hint_count                                 0
 hint_total                                 0
 overlap_time                           15637
 template_id                            30397
 answer_id                                NaN
 answer_text                              300
 first_action                               0
 bottom_hint                              NaN
 opportunity                               10
 opportunity_original                    10.0
 Name: 112193, dtype: object)

In [ ]:
from tqdm import tqdm
for index, row in tqdm(filtered_data.iterrows()):
    if row['skill_id'] == -1:
        continue
    if row['skill_id'] not in skills:

        
        skills.append(int(row['skill_id']))
    if row['user_id'] not in users_id:
        users_id.append(int(row['user_id']))
    if row['user_id'] in students:
        students[row['user_id']].append(
            row[selected_features].values.tolist())
    else:
        students[row['user_id']] = [
            row[selected_features].values.tolist()]

In [15]:
pickle_data = {}

In [16]:
import pickle
pickle_data['students'] = students
pickle_data['skills'] = skills
pickle_data['users_id'] = users_id
pickling_on = open("students.pickle", "wb")
pickle.dump(pickle_data, pickling_on)
pickling_on.close()

In [ ]:
for user_id in users_id:
    if len(students[user_id]) > max_steps:
        max_steps = len(students[user_id])
    if len(students[user_id]) < min_steps:
        min_steps = len(students[user_id])
    if len(students[user_id]) <= 2:
        del students[user_id]
    else:
        students_list.append(students[user_id])

In [44]:
print('Max step:', max_steps)
print('Num of skills:', len(skills))
print('Num of students:', len(users_id))
# np.array([List_s1[[],[],[]],List_s2[[][][]]],...,List_s3[[][]]])

Max step: -1
Num of skills: 0
Num of students: 0

In [ ]:
students_list[0]

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(x=filtered_data["skill_id"],hue="correct")

In [ ]:
 dat = DATA_RAW(n_question=params.n_question,
                   seqlen=200, separate_char=',')

In [ ]:
filtered_data["skill_id"].unique().shape

In [ ]:
sns.countplot(x = 'correct', data = filtered_data)