In [2]:
import pandas as pd
import matplotlib.pyplot as plt

file_name = './data/assist2009_raw/skill_builder_data_corrected.csv'
df = pd.read_csv(file_name, encoding='ISO-8859-1')

/Users/maywzh/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
file_name = './data/assist2009_raw/skill_builder_data_corrected.csv'

pickle_data = {}
students = {}
students_list = []
skills = []
users_id = []
max_steps = -1
min_steps = float('inf')
features = ['assignment_id', 'assistment_id', 'problem_id', 'user_id', 'original', 'correct', 'attempt_count',
            'ms_first_response',
            'skill_id', 'hint_count', 'hint_total', 'first_action', 'bottom_hint']

selected_features = ['skill_id', 'correct',
                     'hint_count', 'first_action', 'hint_total', 'attempt_count']

all_data = pd.read_csv(file_name, encoding='ISO-8859-1',low_memory=False)
filtered_data = all_data.dropna(
    axis=0, how='any', subset=selected_features)[features]
filtered_data = filtered_data[filtered_data['ms_first_response'] > 0]

In [4]:
df1 = filtered_data.dropna(subset=selected_features).reindex()
df1

,assignment_id,assistment_id,problem_id,user_id,original,correct,attempt_count,ms_first_response,skill_id,hint_count,hint_total,first_action,bottom_hint
0,277618,33139,51424,64525,1,1,1,32454,1.0,0,3,0,NaN
1,277618,33150,51435,64525,1,1,1,4922,1.0,0,3,0,NaN
2,220674,33159,51444,70363,1,0,2,25390,1.0,0,3,0,NaN
3,220674,33110,51395,70363,1,1,1,4859,1.0,0,3,0,NaN
4,220674,33196,51481,70363,1,0,14,19813,1.0,3,4,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337996,277900,69042,128442,85730,1,0,2,51016,378.0,0,4,0,NaN
337997,277900,69056,128456,85730,1,1,1,61547,378.0,0,4,0,NaN
337998,277900,69046,128446,85730,1,1,1,53890,378.0,0,4,0,NaN
337999,277901,69057,128457,85730,1,0,4,181532,378.0,3,3,0,1.0
338000,276173,69025,128413,87896,1,0,0,44424,378.0,1,3,1,0.0

In [5]:
len(df1["skill_id"].unique())

123

In [6]:
dfre = df1.set_index(["user_id","problem_id","assignment_id"])
dfg = df1.groupby(["user_id","problem_id","assignment_id"])

In [7]:
dfg

In [8]:
cnt = 0
for i, v in dfg:
    cnt+=1
    print(i)
    print(v[["user_id", 'correct',
                     'hint_count','skill_id']])
    if cnt >=100: break

(14, 57647, 263600)
        user_id  correct  hint_count  skill_id
3966         14        0           0       2.0
112118       14        0           0      48.0
190385       14        0           0      79.0
(14, 57695, 263600)
        user_id  correct  hint_count  skill_id
3964         14        0           0       2.0
112116       14        0           0      48.0
190384       14        0           0      79.0
(14, 58551, 263600)
        user_id  correct  hint_count  skill_id
3968         14        0           0       2.0
80759        14        0           0      37.0
112120       14        0           0      48.0
182691       14        0           0      77.0
(14, 58566, 263600)
        user_id  correct  hint_count  skill_id
3967         14        1           0       2.0
80758        14        1           0      37.0
112119       14        1           0      48.0
(14, 58596, 263600)
        user_id  correct  hint_count  skill_id
3965         14        1           0       2.0
80757        14        1           0      37.0
112117       14        1           0      48.0
(14, 91124, 263601)
       user_id  correct  hint_count  skill_id
35135       14        0           2      13.0
(14, 91127, 263601)
       user_id  correct  hint_count  skill_id
35136       14        0           3      13.0
(14, 91144, 263601)
       user_id  correct  hint_count  skill_id
35134       14        0           3      13.0
(14, 91522, 263601)
       user_id  correct  hint_count  skill_id
35133       14        0           2      13.0
(14, 92361, 263601)
       user_id  correct  hint_count  skill_id
42844       14        1           0      15.0
(14, 92379, 263601)
       user_id  correct  hint_count  skill_id
42843       14        1           0      15.0
(14, 92390, 263601)
       user_id  correct  hint_count  skill_id
42842       14        1           0      15.0
(14, 93383, 263599)
        user_id  correct  hint_count  skill_id
3957         14        0           2       2.0
80750        14        0           2      37.0
156789       14        0           2      70.0
(14, 93400, 263599)
        user_id  correct  hint_count  skill_id
3959         14        0           2       2.0
80752        14        0           2      37.0
156791       14        0           2      70.0
(14, 93407, 263599)
        user_id  correct  hint_count  skill_id
3958         14        1           0       2.0
80751        14        1           0      37.0
156790       14        1           0      70.0
(14, 93415, 263599)
        user_id  correct  hint_count  skill_id
3962         14        0           2       2.0
80755        14        0           2      37.0
156794       14        0           2      70.0
(14, 93419, 263599)
        user_id  correct  hint_count  skill_id
3960         14        0           2       2.0
80753        14        0           2      37.0
156792       14        0           2      70.0
(14, 93420, 263599)
        user_id  correct  hint_count  skill_id
3961         14        0           2       2.0
80754        14        0           2      37.0
156793       14        0           2      70.0
(14, 93423, 263599)
        user_id  correct  hint_count  skill_id
3963         14        0           3       2.0
80756        14        0           3      37.0
112115       14        0           3      48.0
182690       14        0           3      77.0
(21825, 48881, 263366)
       user_id  correct  hint_count  skill_id
19551    21825        0           0      10.0
32194    21825        0           0      12.0
(21825, 49008, 263366)
       user_id  correct  hint_count  skill_id
19553    21825        1           0      10.0
32196    21825        1           0      12.0
(21825, 49016, 263366)
       user_id  correct  hint_count  skill_id
19552    21825        1           0      10.0
32195    21825        1           0      12.0
(21825, 49052, 263366)
       user_id  correct  hint_count  skill_id
19554    21825        1           0      10.0
32197    21825        1           0      12.0
(21825, 56730, 263367)
       user_id  correct  hint_count  skill_id
19557    21825        0           0      10.0
35139    21825        0           0      13.0
(21825, 56841, 263367)
       user_id  correct  hint_count  skill_id
19555    21825        0           0      10.0
35137    21825        0           0      13.0
(21825, 56871, 263367)
       user_id  correct  hint_count  skill_id
19556    21825        1           0      10.0
35138    21825        1           0      13.0
(21825, 90118, 266325)
        user_id  correct  hint_count  skill_id
252755    21825        1           0     279.0
(21825, 90148, 266325)
        user_id  correct  hint_count  skill_id
252754    21825        1           0     279.0
(21825, 90173, 266325)
        user_id  correct  hint_count  skill_id
252757    21825        1           0     279.0
(21825, 90177, 266325)
        user_id  correct  hint_count  skill_id
252753    21825        1           0     279.0
(21825, 90221, 266325)
        user_id  correct  hint_count  skill_id
252756    21825        1           0     279.0
(21825, 90425, 266324)
        user_id  correct  hint_count  skill_id
252750    21825        1           0     279.0
(21825, 90531, 266324)
        user_id  correct  hint_count  skill_id
252751    21825        1           0     279.0
(21825, 90543, 266324)
        user_id  correct  hint_count  skill_id
252748    21825        1           0     279.0
(21825, 90594, 266324)
        user_id  correct  hint_count  skill_id
252749    21825        1           0     279.0
(21825, 90597, 266324)
        user_id  correct  hint_count  skill_id
252752    21825        1           0     279.0
(51950, 97555, 236518)
        user_id  correct  hint_count  skill_id
291745    51950        1           0     311.0
(51950, 97639, 236518)
        user_id  correct  hint_count  skill_id
291743    51950        0           3     311.0
(51950, 97650, 236518)
        user_id  correct  hint_count  skill_id
291746    51950        1           0     311.0
(51950, 97671, 236518)
        user_id  correct  hint_count  skill_id
291744    51950        1           0     311.0
(51950, 108062, 236519)
        user_id  correct  hint_count  skill_id
315997    51950        1           0     312.0
(51950, 108102, 236519)
        user_id  correct  hint_count  skill_id
315996    51950        1           0     312.0
(52613, 53995, 263315)
        user_id  correct  hint_count  skill_id
247736    52613        0           0     278.0
(52613, 66746, 220683)
        user_id  correct  hint_count  skill_id
11969     52613        0           4       5.0
335754    52613        0           4     375.0
(52613, 88272, 270588)
        user_id  correct  hint_count  skill_id
215515    52613        1           0      86.0
(52613, 161710, 285317)
        user_id  correct  hint_count  skill_id
332622    52613        1           0     340.0
(52613, 161807, 285317)
        user_id  correct  hint_count  skill_id
332620    52613        1           0     340.0
(52613, 161845, 285317)
        user_id  correct  hint_count  skill_id
332621    52613        1           0     340.0
(53167, 48130, 263403)
        user_id  correct  hint_count  skill_id
19559     53167        1           0      10.0
147269    53167        1           0      64.0
(53167, 48806, 277641)
       user_id  correct  hint_count  skill_id
13864    53167        1           0       8.0
(53167, 48827, 277641)
       user_id  correct  hint_count  skill_id
13868    53167        0           0       8.0
(53167, 48832, 277641)
       user_id  correct  hint_count  skill_id
13867    53167        1           0       8.0
(53167, 49266, 263318)
        user_id  correct  hint_count  skill_id
136929    53167        1           0      58.0
(53167, 49267, 277499)
        user_id  correct  hint_count  skill_id
136934    53167        1           0      58.0
(53167, 49269, 277499)
        user_id  correct  hint_count  skill_id
136935    53167        1           0      58.0
(53167, 49277, 263318)
        user_id  correct  hint_count  skill_id
136927    53167        1           0      58.0
(53167, 49283, 277499)
        user_id  correct  hint_count  skill_id
136937    53167        1           0      58.0
(53167, 49284, 263318)
        user_id  correct  hint_count  skill_id
136928    53167        1           0      58.0
(53167, 49288, 277499)
        user_id  correct  hint_count  skill_id
136938    53167        1           0      58.0
(53167, 49289, 277499)
        user_id  correct  hint_count  skill_id
136936    53167        1           0      58.0
(53167, 50983, 277533)
        user_id  correct  hint_count  skill_id
287086    53167        0           0     310.0
(53167, 50988, 277533)
        user_id  correct  hint_count  skill_id
287085    53167        0           0     310.0
(53167, 50991, 277533)
        user_id  correct  hint_count  skill_id
287087    53167        0           0     310.0
(53167, 50999, 277533)
        user_id  correct  hint_count  skill_id
287089    53167        1           0     310.0
(53167, 51009, 277533)
        user_id  correct  hint_count  skill_id
287088    53167        1           0     310.0
(53167, 51048, 277534)
        user_id  correct  hint_count  skill_id
287090    53167        0           0     310.0
(53167, 51049, 277534)
        user_id  correct  hint_count  skill_id
287091    53167        1           0     310.0
(53167, 51050, 277534)
        user_id  correct  hint_count  skill_id
287092    53167        1           0     310.0
(53167, 51051, 277534)
        user_id  correct  hint_count  skill_id
287093    53167        0           0     310.0
(53167, 51141, 277532)
        user_id  correct  hint_count  skill_id
284020    53167        1           0     309.0
(53167, 51144, 277532)
        user_id  correct  hint_count  skill_id
284018    53167        1           0     309.0
(53167, 51630, 277511)
        user_id  correct  hint_count  skill_id
215516    53167        1           0      86.0
(53167, 52819, 277524)
        user_id  correct  hint_count  skill_id
115066    53167        1           0      49.0
(53167, 52832, 263396)
        user_id  correct  hint_count  skill_id
115063    53167        1           0      49.0
(53167, 53285, 277528)
        user_id  correct  hint_count  skill_id
130921    53167        1           0      51.0
(53167, 53296, 263395)
        user_id  correct  hint_count  skill_id
130919    53167        1           0      51.0
(53167, 53613, 263411)
        user_id  correct  hint_count  skill_id
136930    53167        1           0      58.0
208389    53167        1           0      85.0
(53167, 53613, 277494)
        user_id  correct  hint_count  skill_id
136933    53167        1           0      58.0
208393    53167        1           0      85.0
(53167, 53649, 263411)
        user_id  correct  hint_count  skill_id
136931    53167        1           0      58.0
208390    53167        1           0      85.0
(53167, 53681, 263411)
        user_id  correct  hint_count  skill_id
166287    53167        1           0      74.0
208391    53167        1           0      85.0
(53167, 53749, 263411)
        user_id  correct  hint_count  skill_id
166286    53167        0           0      74.0
208388    53167        0           0      85.0
(53167, 53774, 263317)
        user_id  correct  hint_count  skill_id
259807    53167        1           0     280.0
(53167, 53778, 263317)
        user_id  correct  hint_count  skill_id
259810    53167        1           0     280.0
(53167, 53780, 263317)
        user_id  correct  hint_count  skill_id
259808    53167        0           0     280.0
(53167, 53792, 263317)
        user_id  correct  hint_count  skill_id
259806    53167        0           0     280.0
(53167, 53864, 263322)
        user_id  correct  hint_count  skill_id
234997    53167        1           0     277.0
(53167, 53904, 277551)
        user_id  correct  hint_count  skill_id
235003    53167        1           0     277.0
(53167, 53987, 263315)
        user_id  correct  hint_count  skill_id
247740    53167        0           0     278.0
(53167, 53995, 263315)
        user_id  correct  hint_count  skill_id
247742    53167        1           0     278.0
(53167, 53999, 263315)
        user_id  correct  hint_count  skill_id
247739    53167        1           0     278.0
(53167, 54019, 263315)
        user_id  correct  hint_count  skill_id
247737    53167        0           0     278.0
(53167, 54039, 263315)
        user_id  correct  hint_count  skill_id
247738    53167        0           0     278.0
(53167, 54063, 277496)
        user_id  correct  hint_count  skill_id
247743    53167        1           0     278.0
(53167, 54075, 263319)
        user_id  correct  hint_count  skill_id
247741    53167        1           0     278.0
(53167, 54134, 263320)
        user_id  correct  hint_count  skill_id
151132    53167        1           0      67.0
(53167, 54184, 263321)
        user_id  correct  hint_count  skill_id
252761    53167        1           0     279.0
(53167, 54444, 277509)
        user_id  correct  hint_count  skill_id
252765    53167        1           0     279.0
(53167, 54445, 277509)
        user_id  correct  hint_count  skill_id
252763    53167        0           4     279.0
(53167, 54456, 277509)
        user_id  correct  hint_count  skill_id
252764    53167        1           0     279.0
(53167, 54461, 277509)
        user_id  correct  hint_count  skill_id
252766    53167        1           0     279.0

In [25]:
dfg1.groups

{(14, 57647, 263600): [3966, 112118, 190385], (14, 57648, 263600): [338003], (14, 57649, 263600): [338004], (14, 57695, 263600): [3964, 112116, 190384], (14, 57696, 263600): [338001], (14, 57697, 263600): [338002], (14, 58551, 263600): [3968, 80759, 112120, 182691], (14, 58552, 263600): [338005], (14, 58553, 263600): [338006], (14, 58566, 263600): [3967, 80758, 112119], (14, 58596, 263600): [3965, 80757, 112117], (14, 91124, 263601): [35135], (14, 91127, 263601): [35136], (14, 91144, 263601): [35134], (14, 91522, 263601): [35133], (14, 92361, 263601): [42844], (14, 92379, 263601): [42843], (14, 92390, 263601): [42842], (14, 93383, 263599): [3957, 80750, 156789], (14, 93400, 263599): [3959, 80752, 156791], (14, 93407, 263599): [3958, 80751, 156790], (14, 93415, 263599): [3962, 80755, 156794], (14, 93419, 263599): [3960, 80753, 156792], (14, 93420, 263599): [3961, 80754, 156793], (14, 93423, 263599): [3963, 80756, 112115, 182690], (21825, 48881, 263366): [19551, 32194], (21825, 48882, 263366): [338007], (21825, 48883, 263366): [338008], (21825, 48884, 263366): [338009], (21825, 49008, 263366): [19553, 32196], (21825, 49016, 263366): [19552, 32195], (21825, 49052, 263366): [19554, 32197], (21825, 56730, 263367): [19557, 35139], (21825, 56841, 263367): [19555, 35137], (21825, 56842, 263367): [338010], (21825, 56843, 263367): [338011], (21825, 56871, 263367): [19556, 35138], (21825, 90118, 266325): [252755], (21825, 90148, 266325): [252754], (21825, 90173, 266325): [252757], (21825, 90177, 266325): [252753], (21825, 90221, 266325): [252756], (21825, 90425, 266324): [252750], (21825, 90531, 266324): [252751], (21825, 90543, 266324): [252748], (21825, 90594, 266324): [252749], (21825, 90597, 266324): [252752], (51933, 107581, 264037): [338012], (51950, 97555, 236518): [291745], (51950, 97639, 236518): [291743], (51950, 97650, 236518): [291746], (51950, 97671, 236518): [291744], (51950, 108062, 236519): [315997], (51950, 108102, 236519): [315996], (52613, 53995, 263315): [247736], (52613, 66746, 220683): [11969, 335754], (52613, 88272, 270588): [215515], (52613, 161710, 285317): [332622], (52613, 161807, 285317): [332620], (52613, 161845, 285317): [332621], (53167, 48130, 263403): [19559, 147269], (53167, 48806, 277641): [13864], (53167, 48827, 277641): [13868], (53167, 48832, 277641): [13867], (53167, 49266, 263318): [136929], (53167, 49267, 277499): [136934], (53167, 49269, 277499): [136935], (53167, 49277, 263318): [136927], (53167, 49283, 277499): [136937], (53167, 49284, 263318): [136928], (53167, 49288, 277499): [136938], (53167, 49289, 277499): [136936], (53167, 50983, 277533): [287086], (53167, 50988, 277533): [287085], (53167, 50991, 277533): [287087], (53167, 50999, 277533): [287089], (53167, 51009, 277533): [287088], (53167, 51048, 277534): [287090], (53167, 51049, 277534): [287091], (53167, 51050, 277534): [287092], (53167, 51051, 277534): [287093], (53167, 51141, 277532): [284020], (53167, 51144, 277532): [284018], (53167, 51630, 277511): [215516], (53167, 52819, 277524): [115066], (53167, 52832, 263396): [115063], (53167, 53285, 277528): [130921], (53167, 53296, 263395): [130919], (53167, 53613, 263411): [136930, 208389], (53167, 53613, 277494): [136933, 208393], (53167, 53649, 263411): [136931, 208390], (53167, 53681, 263411): [166287, 208391], (53167, 53749, 263411): [166286, 208388], (53167, 53750, 263411): [338024], (53167, 53751, 263411): [338025], (53167, 53752, 263411): [338026], (53167, 53774, 263317): [259807], (53167, 53778, 263317): [259810], (53167, 53780, 263317): [259808], (53167, 53792, 263317): [259806], ...}

In [10]:
from tqdm import tqdm
for index, row in tqdm(filtered_data.iterrows()):
    if row['skill_id'] == -1:
        continue
    if row['skill_id'] not in skills:

        
        skills.append(int(row['skill_id']))
    if row['user_id'] not in users_id:
        users_id.append(int(row['user_id']))
    if row['user_id'] in students:
        students[row['user_id']].append(
            row[selected_features].values.tolist())
    else:
        students[row['user_id']] = [
            row[selected_features].values.tolist()]

337678it [02:53, 1947.47it/s]

In [9]:
pickle_data = {}

In [ ]:
import pickle
pickle_data['students'] = students
pickle_data['skills'] = skills
pickle_data['users_id'] = users_id
pickling_on = open("students.pickle", "wb")
pickle.dump(pickle_data, pickling_on)
pickling_on.close()

In [ ]:
for user_id in users_id:
    if len(students[user_id]) > max_steps:
        max_steps = len(students[user_id])
    if len(students[user_id]) < min_steps:
        min_steps = len(students[user_id])
    if len(students[user_id]) <= 2:
        del students[user_id]
    else:
        students_list.append(students[user_id])

In [44]:
print('Max step:', max_steps)
print('Num of skills:', len(skills))
print('Num of students:', len(users_id))
# np.array([List_s1[[],[],[]],List_s2[[][][]]],...,List_s3[[][]]])

Max step: -1
Num of skills: 0
Num of students: 0

In [ ]:
students_list[0]

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(x=filtered_data["skill_id"],hue="correct")

In [ ]:
 dat = DATA_RAW(n_question=params.n_question,
                   seqlen=200, separate_char=',')

In [ ]:
filtered_data["skill_id"].unique().shape

In [ ]:
sns.countplot(x = 'correct', data = filtered_data)